.slider h3,
.slider h5 {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container {
	height: 30%;
}

.clients img {
	max-width: 150px;
}

.materialboxed {
	margin-left: auto !important;
	margin-right: auto !important;
}